
body{
  margin-left: 300px;
  font-family: Arial;


}
.boite1{
  border: 3px #E9E9E9 solid;
  width: 800px;
  height: 1100px;
}
.boite2{
  border: 1px;
  width: 500px;
  height: 750px;
  margin-left: 25px;
}

.gboite{
  width: 750px;
  background-color: #FFAB00;
  color: white;
  height: 100px;
  text-align: center;

}
h1{
  margin-top: 15px;
}

#entete {
  background-color: #E9E9E9;
  border-collapse: collapse;
  height: 40px;
}
#tete {
  border-collapse: collapse;
  height: 40px;
}

img{
  width: auto;
  height: 500px;
}

table {
width:750px;
border-collapse: collapse;
margin-right: 465px;
padding-top: 100px;
text-align: justify;
border: 1px solid #E9E9E9;
}

a{
  background-color: #F8FBA0;
  color: #333333;
  float: left;

}
