
body{
height:100vh;
background-color: #286CA0;
}
h2{
  color:white;
  vertical-align: baseline;
  font-size: 45px;
  font-weight: bold;
}
h3{
  vertical-align: middle;
  font-size: 70px;
}
img#soury{
  width:70%;
padding-top: 3vh;
margin-left: 10vh;
}
#matieres{
display: none;
}
.barre{

  height: 20vh;
  background-color:#00BAD2;
}
.maths {
  margin-top:20px;
  width:60vh;
  height: 40vh;
  color:white;
background-color:#56DEA7 ;
padding-top: 12vh;

}
.maths:hover {
cursor: pointer;
background-color:#1C9061;
-moz-box-shadow: 10px 10px 5px 0px #343434;
-webkit-box-shadow: 10px 10px 5px 0px #343434;
-o-box-shadow: 10px 10px 5px 0px #343434;
box-shadow: 10px 10px 5px 0px #343434;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=134, Strength=5);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.francais {
  margin-top:20px;
  width:60vh;
  height: 40vh;
  color:white;
background-color: #F8CD36;
padding-top: 12vh;
}
.francais:hover {
cursor: pointer;
background-color:#A18112;
-moz-box-shadow: 10px 10px 5px 0px #343434;
-webkit-box-shadow: 10px 10px 5px 0px #343434;
-o-box-shadow: 10px 10px 5px 0px #343434;
box-shadow: 10px 10px 5px 0px #343434;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=134, Strength=5);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
#demo {
  text-align: center;
  font-size: 65px;
  color:white;
}
#user {
  margin-top:50px;
  margin-left: 40px;
  vertical-align: baseline;
  font-size: 45px;
  color:white;
}
#quitter{
  margin-top:50px;
  margin-left: 260px;
  vertical-align: baseline;
  font-size: 45px;
  color:white;
}
#blocquizzf{
  width:193vh;
  height:75vh;
  background-color: #F8CD36;
  display: none;
}
#blocquizzm{
  width:193vh;
  height:75vh;
  background-color: #F8CD36;
  display: none;
}
#blocf{
  padding-top: 5vh;
  font-weight: bold;
  color:white;
  font-size:40px;
}
#choix{

  font-weight: bold;
  color:black;
  font-size:35px;
}
#blocq{
  padding-top: 5vh;
  font-weight: bold;
  color:white;
  font-size:40px;
}


.anglais {
  margin-top:20px;
  width:60vh;
  height: 40vh;
  color:white;
background-color:#F26175 ;
padding-top: 12vh;

}
.anglais:hover {
cursor: pointer;
background-color:#9D2031;
-moz-box-shadow: 10px 10px 5px 0px #343434;
-webkit-box-shadow: 10px 10px 5px 0px #343434;
-o-box-shadow: 10px 10px 5px 0px #343434;
box-shadow: 10px 10px 5px 0px #343434;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=134, Strength=5);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
input{
  width:60vh;
  height:8vh;
  font-size: 40px;
  font-weight:bold;
}
.ident{
  margin-top: 13vh
}
input#blocr{
  width:60vh;
  height:8vh;
  font-size: 40px;
  font-weight:bold;
}
input:focus {
    background-color: yellow;
}
#entre{
  font-size: 50px;
  color:white;

}
.login{
  text-align:
}
#clique{
padding-bottom: 8vh;

}

#clique:hover{
color:white;
border-color: white;

}
#comment{
  padding-top: 1vh;
  margin-top:50px;
  font-weight: bold;
  color:#286CA0;
  font-size:30px;
}
.btn-secondary{

  font-weight: bold;
  font-size: 40px;
  height: 8vh;
  width:30vh;

}
.btn-primary{
  font-weight: bold;
  font-size: 40px;
  height: 8vh;
  width:30vh

}
/*partie maths*/
#commentm{
  padding-top: 1vh;
  margin-top:50px;
  font-weight: bold;
  color:#286CA0;
  font-size:30px;
}
#blocfm{
  padding-top: 5vh;
  font-weight: bold;
  color:white;
  font-size:40px;
}
#choixm{

  font-weight: bold;
  color:black;
  font-size:35px;
}
#blocqm{
  padding-top: 5vh;
  font-weight: bold;
  color:white;
  font-size:40px;
}

#blocquizza{
  width:193vh;
  height:75vh;
  background-color: #F8CD36;
  display: none;
}
#commenta{
  padding-top: 1vh;
  margin-top:50px;
  font-weight: bold;
  color:#286CA0;
  font-size:30px;
}
#blocfa{
  padding-top: 5vh;
  font-weight: bold;
  color:white;
  font-size:40px;
}
#choixa{

  font-weight: bold;
  color:black;
  font-size:35px;
}
#blocqa{
  padding-top: 5vh;
  font-weight: bold;
  color:white;
  font-size:40px;
}
#blocqa{
  padding-top: 5vh;
  font-weight: bold;
  color:white;
  font-size:40px;
}
