body{
background-image: url(fond.jpg);
font-family: Helvetica;
color:#464646;
}
img{
  width: 380px;
  height: 100px;
  margin-left: 550px;
  margin-top: 100px;
}
fieldset{
  width: 600px;
  height: 220px;
  text-align: left;
  padding: 10px;
  margin: 5px;
  margin-left: 400px;
  margin-top: 50px;
  font-size: 20px;
}

button{
  margin-left: 554px;
  padding: -50px;
  margin-top: -50px;
  font-size: 20px;
  position: absolute;
  font-size: 16px;
}
label{
  margin-left: 30px;

}
legend{
  text-align: center;
  margin: 5px;
    margin-left: 250px;
    font-size: 25px;
}
input{
  margin: 15px;
  width: 280px;
  height: 25px;

}
#identifiant{
  margin-left: 48px;
}
#mdp{
  margin-left: 705px;
  color: white;
  background-color: #DD4814;
  border-radius: 5px;
  height: 30px;
}
#valide{
  color:#DD4814;
  border-radius: 5px;
  height: 30px;
  margin-left: 585px;
}
