* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
#feuille{
    position: fixed;
    height: 40px;
    width: 100%;
    background: rgba(90, 88, 88,.5);
}

#nav {
    list-style: none;
    float: right;
    position: relative;
}
#nav li {
    float: left;
    display: block;
    height: 40px;
    width: 200px;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    box-sizing:border-box;
    color:white;
    border-left: 1px inline rgba(225,225,225,.5);
    border-right: 1px inline rgba(225,225,225,.5);
    transition: 0.4s
}
#nav li:hover{
  background-color: white;
  color: #419DEA;
}
h1{
  font-size: 60px;
  text-align:center;
    color: #419DEA;
    position: relative;
    top:100px;
}
p{
  top:100px;
  font-size: 40px;
  margin-top:150px;
  text-align:center;
  animation: texte 3s ease-out;
}
.anim {

  top:120px;
  float:left;
    position:relative;
    margin:8px;
    text-align:center;
}
.droite .gauche .bas .haut{
  display: block;
}
div.d{
  width:350px;
  height:350px;
  transition:all 1s linear;
  -ms-transition:all 1s linear;
  -webkit-transition:all 1s linear;
  -moz-transition:all 1s linear;
}
/*de la droite */
.droite{
  width: 350px;
  height:350px;
background-image: url("image1.jpg");
background-repeat: no-repeat;
}
.droite.d2>div.d1{
  background:url('bloc1.jpg') no-repeat;
  width:0;
}

div.droite.d2:hover>div.d1{
  width:350px;
}

/*vers le bas */
.bas{
  width: 350px;
  height:350px;
background-image: url("image2.jpg");
background-repeat: no-repeat;
}
.bas.d2>div.d1{
  background:url("bloc3.jpg") no-repeat;
  height:0;
}

.bas.d2:hover>div.d1{
  height:350px;
}
/*vers le gauche */
.gauche{
  width: 350px;
  height:350px;
background: url("image3.jpg");
background-repeat: no-repeat;

}
.gauche.d2 div.d1{
  background:url('bloc2.jpg') no-repeat;
  width:0;
  right:0;
  position:absolute;

}
.gauche.d2:hover div.d1{
  width:350px;
}
/*vers le haut */
.haut{
  width: 350px;
  height:350px;
background-image: url("image4.jpg");
}
div.haut.d2 div.d1{
  background:url('bloc4.jpg') no-repeat;
  height:0;
  bottom:0;
  position:absolute;
  background-position:0 100%;
}
div.haut.d2:hover div.d1{
  height:350px;
}
background-repeat: no-repeat;
}
